/** @format */
* {
	margin: 0;
	padding: 0;
	moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.App {
	width: 100vw;
	min-width: 1366px;
	min-height: 500px;
	height: 100vh;
	display: flex;
}
.SideBar {
	width: 20%;
	height: 100%;
	border-right: 1px solid rgb(199, 196, 196);
	overflow-y: scroll;
}
*::-webkit-scrollbar {
	height: 3px;
	width: 3px;
}
*::-webkit-scrollbar-thumb {
	background: #f9414488;
	border-radius: 50px;
}
.Logo-heading {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}
.profile {
	width: 90%;
	height: 60px;
	margin: auto;
	border-radius: 20px;
	background: #e9ecef;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	color: #6c757d;
}
.profile span {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-image: url("https://cdn-icons-png.flaticon.com/512/126/126122.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
}
.DashBoard {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 800;
	color: #212529;
}
#selectedDash {
	background: #f94144;
	color: white;
}
.DashBoard:hover {
	background: #f9414488;
	cursor: pointer;
}
.nav-heading {
	width: 80%;
	margin: auto;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
	color: #212529;
}
.nav-divs {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 40px;
	border-right: 4px solid transparent;
	color: #6c757d;
}
.nav-divs:hover {
	background: #e9ecef;
}
#selectedNav {
	background: #ffcccd88;
	cursor: pointer;
	border-color: #f94144;
	color: #f94144;
}
.nav-divs:focus {
}
.nav-divs img {
	width: 20px;
	margin-right: 20px;
}

.DashBoard-Main {
	width: 80%;
	height: 100%;
	overflow-y: scroll;
}
.DashBoard-Main main {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.DashBoard-Main main span {
	width: 600px;
	height: 250px;
	background: #f9414488;
	border-radius: 20px;
	padding: 50px;
}
.DashBoard-Main main div {
	width: 250px;
	height: 250px;
	background: #f9414488;
	border-radius: 20px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.DashBoard-Main main div h1 {
	width: 100%;
	text-align: center;
}
.DashBoard-Main main div h2 {
	width: 100%;
	text-align: center;
	font-size: 90px;
}
.MainDetail {
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.MainDetail span {
	width: 280px;
	height: 80%;
	border-radius: 20px;
	box-shadow: 4px 5px 15px #dee2e6;
	padding: 30px;
	position: relative;
}
.MainDetail span p {
	font-weight: 600;
}
.MainDetail span h2 {
	font-size: 30px;
	font-weight: 600;
	color: #212529;
}
.MainDetail span img {
	position: absolute;
	width: 40px;
	right: 50px;
	bottom: 30%;
}

.AddProduct-Main {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Image-Div {
	width: 40%;
	height: 90%;
	border-radius: 20px;
	box-shadow: 4px 5px 15px #dee2e6;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
}
.Image-Div1 {
	width: 100%;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
}

.Image-Div input,
.Image-Div1 input {
	display: none;
}
.Image-Div1 .product1 {
	width: 100px;
	height: 100px;
}
.product1 {
	width: 300px;
	height: 300px;
	background: #dee2e6;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.Image-Div1 .product1 span,
.Image-Div1 .product2 span {
	min-width: 10px !important;
	height: 20px !important;
}
.product1 span,
.product2 span {
	position: absolute;
	width: 20px !important;
	height: 20px;
	background: #f94144;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	top: 0;
	right: 0;
	border-radius: 100%;
	color: white;
}
.Image-Div1 .product1 img {
	width: 200px;
	filter: opacity(60%);
}
.Image-Div1 .product2 img {
	width: 100px;
	filter: opacity(60%);
}
.Image-Div1 .product1 img,
.Image-Div1 .product2 img {
	width: 100px;
}

.product1 img {
	width: 200px;
	filter: opacity(60%);
}
.product2 img {
	width: 100px;
	filter: opacity(60%);
}
.Image-Div1 .product2 {
	min-width: 100px !important;
	min-height: 100px !important;
}
.product2 {
	min-width: 150px;
	min-height: 150px;
	background: #dee2e6;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.Form-Div {
	width: 50%;
	height: 90%;
	border-radius: 20px;
	box-shadow: -4px -5px 15px #dee2e6;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	position: relative;
}
.Form-Div1 {
	width: 100%;
	border-radius: 20px;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	position: relative;
}
.FormHeading {
	position: absolute;
	width: 100%;
	padding: 20px;
	font-size: 20px;
	font-weight: 700;
	top: 0;
	text-align: center;
}
.Form-Inputs {
	width: 90%;
	min-height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
}
.Form-Inputs-Desc {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
}
.Form-Inputs-Desc span {
	width: 100%;
}
.Form-Inputs span {
	width: 100%;
}
.Form-Inputs input {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	outline: none;
	border-radius: 10px;
	border: 1px solid #6c757d;
	font-size: large;
}
.Form-Inputs input:focus,
.Form-Inputs-Desc textarea:focus {
	border-color: #f94144;
}
.Form-Inputs-Desc textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 190px;
	max-height: 500px;
	padding: 10px 10px;
	outline: none;
	border-radius: 10px;
	border: 1px solid #6c757d;
	font-size: large;
}
.Form-Button {
	width: 90%;
	min-width: 200px;
	height: 40px;
	margin: auto !important;
	background-color: #f94144 !important;
	color: white !important;
}
.Form-Save-Image {
	width: 70%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}
.Form-Save-Image1{
	justify-content: center;
}
.FSI-Btn {
	width: 100px;
	height: 40px;
	background: #f94144 !important;
	color: white !important;
}
#FSI {
	width: 100px;
	height: 40px;
	background: green !important;
	color: white !important;
}

.LoginDiv {
	width: 50%;
	height: 70%;
	margin: auto;
	border: 2px solid #dee2e6;
	border-radius: 10px;
}

.modal {
	width: 100vw;
	height: 100vh;
	min-height: 700px;
	background: #00000056;
	/* position: fixed; */
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-div {
	width: 30%;
	height: 70%;
	min-width: 300px;
	min-height: 500px;
	border-radius: 20px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 20px;
	position: relative;
}
.login-div input {
	border-radius: 5px;
	border: 1px solid gray;
}
.login-heading {
	width: 90%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.login-heading h2,
.login-heading h5 {
	font-weight: 500;
}
.login-heading h2 {
	font-size: 20px;
}
.login-input-div {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.login-input-div span {
	width: 90%;
	font-size: 14px;
}
.login-input-div input {
	width: 90%;
	height: 40px;
	outline: none;
	padding: 0 10px;
	font-size: 15px;
}
.login-input-div input:focus,
.login-otp-div input:focus {
	border-color: #f94144;
}
#login-button {
	width: 90%;
	background: #f94144;
	color: white;
}
#login-button-v {
	width: 90%;
	border: 1px solid #f94144;
	color: #f94144;
}

#login-button-verified {
	width: 90%;
	background: green;
	color: white;
}
.login-otp-div {
	width: 90%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.login-otp-div div {
	width: 60%;
	height: 75px;
}
.login-otp-div div span {
	font-size: 14px;
}
.login-otp-div input {
	width: 100%;
	height: 40px;
	outline: none;
	padding: 0 10px;
	font-size: 19px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

#login-otp {
	width: 90px;
	height: 40px;
	background: #f94144;
	font-size: 13px;
	color: white;
}
#login-otp-verified {
	width: 90px;
	height: 40px;
	background: green;
	font-size: 13px;
	color: white;
}
#login-back {
	max-width: 30px !important;
	max-height: 30px !important;
	position: absolute;
	top: 5px;
	right: 5px;
}

.OrderBox {
	width: 80%;
	height: 100%;
	position: relative;
}

.OrderFilterNav {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.OrderFilterNavDp {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 80px;
	background: #fff;
	z-index: 99;
}

.OrderFilterBtn {
	width: 100px !important;
	height: 40px !important;
	border: 1px solid #f94144 !important;
	color: #f94144 !important;
	background: white;
}
#OrderFilterBtnSlctd {
	color: white !important;
	background: #f94144 !important;
}
.OrderDiv {
	width: 100%;
	height: calc(100% - 80px);
	padding: 20px;
	overflow-y: scroll;
	position: relative;
}

.cartDiv1in {
	width: 100%;
	background: #fff;
	box-shadow: 0.1px 0.1px 10px rgb(229, 226, 226);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
	padding: 10px;
}
.cartImg {
	min-width: 100px;
	min-height: 100px;
}
.cartActualImg {
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.cartDetails {
	width: 70%;
	height: 120px;
	min-width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
}
.cartDetails h3 {
	width: 90%;
}
.cartDetailsWBtn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.redBold {
	font-weight: 600;
	color: #f94144;
}
.cartValue {
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.cvl {
	min-width: 200px !important;
	justify-content: unset;
}
.cvl span {
	width: 100%;
}
.cartValue span {
	margin: 5px;
	min-width: none;
}
.cartButton {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cartButtonv2 {
	max-width: 20px !important;
	height: 30px !important;
	border: 1px solid #f94144 !important;
	color: #f94144 !important;
	font-weight: 900 !important;
	font-size: 20px !important;
}
.detailedOrderDiv {
	min-width: 100%;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s linear;
	visibility: hidden;
	height: auto;
	border: 1px solid #ff808288;
	border-radius: 10px;
}
#showDetail {
	width: 100%;
	visibility: visible;
	transition: all 0.5s linear;
}
#hideDetails {
	visibility: hidden;
	width: 0;
	display: none;
	transition: all 0.5s linear;
}
.cdinfo,
.cdinfo1 {
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0.1px 0.1px 10px rgb(229 226 226);
	box-shadow: 0.1px 0.1px 10px rgb(229 226 226);
	border-radius: 10px;
	display: -moz-box;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 10px;
	padding: 10px;
}
.cdinfo span {
	min-width: 40%;
	display: flex;
	align-items: center;
	font-size: 15px;
	margin: 10px;
	overflow-wrap: break-word;
}
.cdivln {
	font-size: 14px !important;
}
.cdivln a {
	text-decoration: none !important;
	color: #212529 !important;
}
.cdils {
	min-width: 200px;
}
#UpdateOrderBtn {
	width: 100px;
	height: 40px;
	background: #f94144;
	color: white;
}
#UpdateOrderDrpDwn {
	width: 150px;
	height: 40px;
	outline: none;
}
.FilterInputs {
	width: 300px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.FilterInputs span {
	width: 90%;
	font-size: 14px;
}
.FilterInputs input {
	width: 90%;
	height: 30px;
	padding: 1px 5px;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	border: 2px solid #cfcfcf;
}
.FilterInputs input:focus {
	border: 2px solid #f94144;
}
.DateDiv {
	position: fixed;
	width: 100px;
	height: 100px;
	top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 20px;
	z-index: 999;
}
#DateDivBtn {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #f94144;
}
#DateDivBtn img {
	filter: invert(1);
}
.DateInput {
	position: fixed;
	top: 90px;
	right: 50%;
	right: 150px;
	z-index: 9999;
	box-shadow: 2px 4px 10px gray;
}
.HideDateInput {
	display: none;
}
.css-1hbyad5-MuiTypography-root {
	color: white;
}
#DateResetBtn {
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 990099999;
}
#css-4l7j15 {
	border-radius: 20px !important;
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
	background-color: #f94144 !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
	background-color: #f94144 !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
	background-color: #f94144 !important;
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
	background-color: #f94144 !important;
}
.css-dtbg0r {
	background-color: #f94144 !important;
	color: white;
}
.css-dhopo2 {
	border-radius: 20px !important;
}
